<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/animate.min.css" />
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/font-awesome.css" />
	<link rel="stylesheet" href="../css/owl.carousel.css" />
	<link rel="stylesheet" href="../css/responsive.css" />
	<link rel="stylesheet" href="../css/player/YTPlayer.css" />
	<link href="../css/pro-bars.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="../images/favicon.jpg" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript">
		function calcIMC(){
			var altura = document.getElementById('altura').value;
			var peso = document.getElementById('peso').value;

			var imc = document.getElementById('imc');
			imc.innerHTML = peso / (altura * altura);
			var imc2 = peso / (altura * altura);
			if(document.getElementById('avancar').disable==true);
			
			if (imc2 >= 25){
				alert("Você está acima do peso: "+imc2);
				window.location = "usuario.html";
			}
			if(imc2 <= 18.4){
				alert("Você está abaixo do peso: "+imc2+ " O FitEducate é destinado para pessoas acima do peso");
				window.location = "../index.html";

			}
			if(imc2 >18.5 && imc2 <= 24.9){
				alert("Você está no peso ideal, parabéns!");
				window.location = "../index.html";
			}
		}

	</script>
	
</head>
<section class="pb_section bg-light bg-image with-overlay" data-section="attorneys" id="section-attorneys" style="background-image: url(../images/parallax/31.jpg)">
	<div class="container">
		<body>
			<div> <b><center><h1 class=" condensed uppercase no-padding no-margin bold black">Calcular IMC</h1></center>
				<br><center>Altura:
					<input type="text" required="required" id="altura" size="4" name="altura" color="white"/><br></br></center></br>
					<div class="col-sm-6">
						<center>Peso:
							<input type="text" required="required" id="peso" size="4" name="peso" class="text-black" />
						</center> <br></br>
					</div>
					<button type="button" onclick="calcIMC();" name="calcIMC" class="form-btn semibold">Calcular IMC</button></br>
					<center>IMC:
						<p id="imc"></p> </center>
						</br><div>
							<center>Por favor, insira a altura com ponto e não vírgula!</center>
						</div>
						<center><table border="2">
							<tr bgcolor="white">
								<td>Classificação</td>
								<td>IMC</td>
							</tr>
							<tr bgcolor="white">
								<td>Muito abaixo do peso</td>
								<td>16 a 16,9 kg/m2</td>
							</tr>
							<tr bgcolor="white">
								<td>Abaixo do peso</td>
								<td>17 a 18,4 kg/m2	</td>
							</tr>
							<tr bgcolor="white">
								<br><td>Peso normal</td></br>	          
								<td>18,5 a 24,9 kg/m2</td>	
							</tr>
							<tr bgcolor="white">
								<td>Acima do peso</td>	          
								<td>25 a 29,9 kg/m2</td>
							</tr>
							<tr bgcolor="white">
								<td>Obesidade Grau I</td>	
								<td>30 a 34,9 kg/m2</td>
							</tr>
							<tr bgcolor="white">	
								<td>Obesidade Grau II</td>	
								<td>35 a 40 kg/m2</td>
							</tr>
							<tr bgcolor="white">	
								<td>Obesidade Grau III</td>	
								<td>maior que 40 kg/m2</td>	
							</tr>
						</table></center>
						<br>
						<center><p>IMC é a sigla para Índice de Massa Corporal que serve para avaliar o peso do indivíduo em relação à sua altura e assim indicar se está dentro do peso ideal, acima ou abaixo do peso desejado.</p></center>
						<center><p>Estar dentro do peso certo é importante porque estar acima ou abaixo peso influencia na saúde, aumentando o risco de doenças como desnutrição quando se está abaixo do peso, e AVC e infarto, quando se está acima do peso. </p></center>
					</br>
				</section>
			</div>
			<br><div id="avancar"></div>
				<center>Este software é destinado apenas para quem estiver acima do peso ou com algum grau de obesidade.</center>
			</body>

			</html>
