<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Mensagem Nutri</title>
    
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<link rel="stylesheet" href="css/player/YTPlayer.css" />
	<link href="css/pro-bars.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="../images/favicon.jpg" />
	

	<!-- End CSS Files -->
 
</head>
<body>
<section id="contact" class="container parallax4">
		<!-- Contact Inner -->
		<div class="inner contact">

			<!-- Form Area -->
			<div class="contact-form">
            
            	<h4 class="header light gray3 fancy"><span class="colored">Tire aqui</span> suas dúvidas</h4>
                <p class="h-desc white">Envie suas dúvidas para a nutricionista<br />
				<br><textarea rows="10" cols="40" maxlength="500" <span class="color black"></textarea></span></br>
<div class="relative fullwidth col-xs-12">
						<!-- Send Button -->
						<button> <a href="../chat/batepapo.php" type="submit" id="submit" name="submit" class="form-btn semibold" function Nova(){ 
window.open("../chat/batepapo.php","Fitness",windowFeatures);}>Enviar Mensagem</button> </a>
					</div><!-- End Bottom Submit -->
					<!-- Clear -->
					<div class="clear"></div>
				<form id="contact-us" method="post" action="#">
					<div class="col-xs-6 animated" data-animation="fadeInRight" data-animation-delay="400">
					
						<textarea name="mensagem" id="mensagem" class="form textarea"  placeholder="Mensagem"></textarea>
					</div><!-- End Right Inputs -->
					
					
					
				</form>

				<!-- Your Mail Message -->
				<div class="mail-message-area">
					<!-- Message -->
					<div class="alert gray-bg mail-message not-visible-message">
						<strong>Obrigada por enviar sua dúvida!</strong> Your email has been delivered.
					</div>
				</div>

			</div><!-- End Contact Form Area -->
		</div><!-- End Inner -->
	</section><!-- End Contact Section -->
	</body>
	</html>
