<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Cadastro nutricionista</title>
	
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/animate.min.css" />
	<link rel="stylesheet" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/font-awesome.css" />
	<link rel="stylesheet" href="../css/owl.carousel.css" />
	<link rel="stylesheet" href="../css/responsive.css" />
	<link rel="stylesheet" href="../css/player/YTPlayer.css" />
	<link href="css/pro-bars.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="../images/favicon.jpg" />
	<script type="text/javascript">
</script>
	</head>
	<body>
	<section id="features" class="container">
	<div>
	<b><center><h1 class=" condensed uppercase no-padding no-margin bold white">Cadastro Nutricionista</h1></center></b>
<br></br>
	<form method="post" action="../dao/cadastrarNutricionista.php">
	<center>
	<label for="nome">Nome:</label>
        <input type="text" id="nome" size="50" name="nome" required/>
</div>
<div>
	<center><label for="data">Data de Nascimento:</label> <input type="date" name="dataNasc" id="dataNasc" required/></center>
       
</div>
<div>
	<center><label for="crn">CRN:</label><input type="text" id="crn"  name="crn" required/></center>
        
</div>
<div>
	<center>
		<label for="formacao">Formação:</label>
		<select name="formacao" required>
			<option value="Graduado(a)">Graduado(a)</option>
  			<option value="Especialista">Especialista</option>
			<option value="Mestre">Mestre</option>
  			<option value="Doutor">Doutor</option>
  			<option value="Pós-Doutor">Pós-Doutor</option>
		</select>
	</center>
	<center><input type="submit" Value="Cadastrar"></center> <br>
        
		</center>
	</form>
</div>
</section>

</div>
<section id="features" class="container">

		<div class="inner">
		<div class="features-boxes">
<div class="col-xs-4 f-box animated" data-animation="fadeIn" data-animation-delay="200">
					<!-- Icon -->
					<a class="f-icon">
						<i class="fa fa-flask"></i>
					</a>
					<!-- Header -->
					<p class="feature-head">Você nutricionista, colabore conosco</p>
					<!-- Text -->
					<p class="feature-text light">Seja uma nutricionista colaboradora, ajude nossos usuários respondendo as dúvidas que surgir referente as dietas e as possíveis substituições.</p>
				</div>
				</div>
				</div>
				</section>
				<section id="blockquote">

		<div class="inner no-padding">
			<!-- Your Text -->
			<p class="normal white blockquote fancy">Faça parte da família FitEducate! 
			<a href="#about" class="scroll"><i class="fa fa-arrow-up"></i></a></p>
		</div>

	</section>
 </body>
</html>